body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}

header {
    padding: 20px;
    text-align: center;
    background-color: #282c34;
    color: #fff;
}

header h1 {
    margin: 0;
}

#mode-toggle {
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.left-column,
.right-column {
    padding: 20px;
    flex: 1;
}

.left-column {
    flex: 1 1 35%; 
    margin-right: 20px;
}

.right-column {
    flex: 1 1 60%; 
}

/* Styling for Sections */
section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    font-size: 18px;
    margin-bottom: 5px;
}
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode header {
    background-color: #1f1f1f;
}

body.dark-mode footer {
    background-color: #1f1f1f;
}

body.dark-mode #mode-toggle {
    color: #f39c12;
}

body.dark-mode #mode-toggle:hover {
    color: #f1c40f;
}

footer {
    background-color: #282c34;
    color: #fff;
    padding: 10px;
    text-align: center;
}
/*Logo*/
.logo {
    height: 80px; 
    width: auto; 
}

.logo-container {
    position: absolute; /*left corner placement*/
    top: 20px;
    left: 20px;
}

.logo-container-footer {
    position: absolute;
    bottom: 20px; 
    left: 20px;
}

@media (max-width: 768px) {
    .logo {
        height: 30px;
    }
}

@media (max-width: 768px) {
    .left-column, .right-column {
        flex: 1 1 100%;
        margin-right: 0;
    }

    .container {
        flex-direction: column; 
    }
}
